.filterContainer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.filterTitle {
  font-size: 20px;
}
.filterInput {
  margin-top: 10px;
  font-size: 15px;
  padding: 5px;
  font-style: italic;
  border-color: #33c4ac;
}

.filterInput:focus {
  outline: none;
}
